<!DOCTYPE html>
<html xmlns:th="http://thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>403</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}"/>
</head>

<body>
<div class="page-wrap d-flex flex-row align-items-center" layout:fragment="content">
    <div class="spacer container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <h3>Forbidden</h3>
                <div class="mb-4 lead">Oops, an error has occurred. Forbidden!</div>
                <a th:href="@{/user/index}" class="btn btn-link">Retour to Home</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>