<!DOCTYPE html>
<html xmlns:th="http://thymleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Produits</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
</head>

<body>
<div class="container">
    <h3> List des Produits </h3>

    <form th:action="@{index}" method="get">
        <label>Mot clé</label>
        <input type="text" name="mc"/>
        <button class="btn btn-primary">Chercher</button>
    </form>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Designation</th>
            <th>Prix</th>
            <th>Quantite</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${listProduits}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.designation}"></td>
            <td th:text="${p.prix}"></td>
            <td th:text="${p.quantite}"></td>
        </tr>
        </tbody>
    </table>

</div>
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item " th:classappend="${pageCourante} == ${status.index} ? 'active' : ''"
                th:each="pa,status:${pages}">
                <a class="page-link" th:href="@{index(page=${status.index}, size=${size})}"
                   th:text="${status.index}"></a>
            </li>
        </ul>
    </nav>
</div>
</body>

</html>